body { background: #847a88; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-payment-0 { color: #f3f160; font-size: 16px; margin-bottom: 5px; }
.block-uploader-1 { color: #4e6a7; font-size: 21px; margin-bottom: 5px; }
.block-metrics-2 { color: #468387; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #813eac; font-size: 16px; margin-bottom: 5px; }
.block-uploader-4 { color: #288505; font-size: 15px; margin-bottom: 5px; }
.block-notify-5 { color: #81c3c7; font-size: 17px; margin-bottom: 5px; }
.block-uploader-6 { color: #f2a32a; font-size: 20px; margin-bottom: 5px; }
.block-product-7 { color: #1f3fb1; font-size: 17px; margin-bottom: 5px; }